body {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
.nav-link {
  font-size: x-large;
  color: white !important;
}
.btn {
  color: white;
}

::placeholder {
  color: rgb(160, 151, 151) !important;
  font-size: medium;
}

/* .form-control option {
  color: white !important;
  background-color: rgb(235, 226, 226);
} */

option {
  background: #527abd;
  color: white !important;
  border: #527abd !important;
}

.form-control {
  background: #527abd;
  color: white !important;
  border: #527abd !important;
}

.precio-producto-card {
  color: chartreuse;
}

.valor-precio-total {
  color: chartreuse;
}

.precioFinanciado {
  color: chartreuse;
}
